.listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}
